:root {
  --backgroundheader: yellow;
  --text-color: black;
}
.containerParent {
  background: linear-gradient(to bottom, #6d817d 0%, #a1ada2 50%, #ebefe8 100%);
}

.flex {
  display: flex;
}

.header {
  background-color: var(--backgroundheader);
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.header ul {
  list-style: none;
  align-items: center;
  gap: 1rem;
}
.header ul > li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 120%;
  font-weight: 500;
}

/* .rightList {
  align-items: center;
} */
